<nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
    <div class="container-fluid">
      <%= link_to "Rails", root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar-header">
        <ul class="navbar-nav me-auto mb-2 mb-sm-0">
          <li class="nav-item">
            <%= link_to "About", about_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Contact", contact_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <form>
              <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            </form>
          </li>
        </ul>
        <ul class="navbar-nav">
          <% if !user_signed_in? %>
            <li class="nav-item">
              <%= link_to "Sign-in", sign_in_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign-up", sign_up_path, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Sign-out", sign_out_path, data: {"turbo-method": :delete, turbo_confirm: "Are you want to logout?"}, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
</nav> 